html,
body {
    width: 256px;
	height: 141px;
}

@import "~bootswatch/dist/flatly/variables";

// Disable bootstraps rounded corners
$enable-rounded: false;
$enable-gradients: false;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

select {
    -webkit-appearance: none !important;
}

h5 {
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}